


.fly1 {
  position: relative;
  opacity: 0;
  transform: translateX(-100%); /* Start off-screen */
  transition: opacity 0.5s ease-in, transform 1.5s ease-in, background-color 3s ease-in;
}
.fly2 {
  position: relative;
  opacity: 0;
  transform: translateX(100%); /* Start off-screen */
  transition: opacity 0.5s ease-in, transform 1.5s ease-in,  background-color 3s ease-in;
}

.fly1.active, .fly2.active {
  opacity: 1;
  transform: translateX(0); /* Move into place */
}


.meImage { 
  position:relative;
  left:50%;
  transform: translate(-50%);
  max-height: 260px;
    overflow: hidden;
    z-index: -1;
}

.mernCert {
  margin-left:100px;
  text-align: left;
}